<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>AskMe</title>
    <link href="../../static/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../../static/css/my.css" rel="stylesheet">
  </head>

  <body class="d-flex flex-column h-100">

<header>
  <!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">AskME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="d-flex mx-auto" role="search" class="search_buttons">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success"><a href="../ask.html" style="text-decoration: none; color: green;">Ask</a></button>
        </form>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item mt-1">
            <a class="nav-link" href="../settings.html">Мой аккаунт</a>
          </li>
          <li class="nav-item mt-1">
            <a class="nav-link" href="#">Выйти</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="../settings.html">
                <img src="https://via.placeholder.com/30x30" class="rounded-circle" alt="Аватар пользователя">
            </a>
          </li>
        </ul>
<!--          <ul class="navbar-nav ml-auto">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="login.html">Вход</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="registration.html">Регистрация</a>-->
<!--            </li>-->
<!--          </ul>-->
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <div class = "row mt-5">
      <div class = "col-9">
          <div class="container">
            <div class="row">
              <div class="col-sm-2">
                <img src="../../static/img/avatar6.png" class="img-thumbnail" alt="Avatar">
                <div class = "likes">
                <div class="btn-group btn-group-sm " role="group" aria-label="...">
                  <div class="likes_values mx_auto">10</div>
                  <button type="button" class="btn btn-default" style="color: green;">Up</button>
                  <button type="button" class="btn btn-default" style="color: red;">Down</button>
                </div>
              </div>
              </div>
              <div class="col-sm-10">
                <h2>How to create a Bootstrap question page?</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non augue eget libero dictum faucibus. Integer at fermentum velit, nec tristique nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed iaculis, urna vel auctor pellentesque, eros enim rhoncus leo, vel posuere magna nunc vel mi. Praesent euismod urna sed semper suscipit. Sed et faucibus sapien. Duis ut dui id odio imperdiet dignissim sed eu nulla. Aliquam ut gravida dolor.</p>
                <p>Tags: <a href="#">Bootstrap</a>, <a href="#">Web development</a></p>
              </div>
            </div>
            <hr>
            <h4>Comments</h4>
            <div class="row">
              <div class="col-sm-2">
                <img src="../../static/img/avatar2.png" class="img-thumbnail" alt="Avatar">
                <div class = "likes">
                <div class="btn-group btn-group-sm " role="group" aria-label="...">
                  <div class="likes_values mx_auto">10</div>
                  <button type="button" class="btn btn-default" style="color: green;">Up</button>
                  <button type="button" class="btn btn-default" style="color: red;">Down</button>
                </div>
              </div>

              </div>
              <div class="col-sm-10">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non augue eget libero dictum faucibus. Integer at fermentum velit, nec tristique nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed iaculis, urna vel auctor pellentesque, eros enim rhoncus leo, vel posuere magna nunc vel mi. Praesent euismod urna sed semper suscipit. Sed et faucibus sapien. Duis ut dui id odio imperdiet dignissim sed eu nulla. Aliquam ut gravida dolor.</p>
                <div class="form-check mt-5">
                  <input class="form-check-input" type="checkbox" value="" class="correctAnswer">
                  <label class="form-check-label">
                    Correct
                  </label>
                </div>
              </div>

            </div>
            <div class="row mt-5">
              <div class="col-sm-2">
                <img src="../../static/img/avatar2.png" class="img-thumbnail" alt="Avatar">
                <div class = "likes">
                <div class="btn-group btn-group-sm " role="group" aria-label="...">
                  <div class="likes_values mx_auto">10</div>
                  <button type="button" class="btn btn-default" style="color: green;">Up</button>
                  <button type="button" class="btn btn-default" style="color: red;">Down</button>
                </div>
              </div>

              </div>
              <div class="col-sm-10">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non augue eget libero dictum faucibus. Integer at fermentum velit, nec tristique nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed iaculis, urna vel auctor pellentesque, eros enim rhoncus leo, vel posuere magna nunc vel mi. Praesent euismod urna sed semper suscipit. Sed et faucibus sapien. Duis ut dui id odio imperdiet dignissim sed eu nulla. Aliquam ut gravida dolor.</p>
                <div class="form-check mt-5">
                  <input class="form-check-input" type="checkbox" value="" class="correctAnswer">
                  <label class="form-check-label">
                    Correct
                  </label>
                </div>
              </div>

            </div>
            <div class="row mt-5">
              <div class="col-sm-2">
                <img src="../../static/img/avatar2.png" class="img-thumbnail" alt="Avatar">
                <div class = "likes">
                <div class="btn-group btn-group-sm " role="group" aria-label="...">
                  <div class="likes_values mx_auto">10</div>
                  <button type="button" class="btn btn-default" style="color: green;">Up</button>
                  <button type="button" class="btn btn-default" style="color: red;">Down</button>
                </div>
              </div>

              </div>
              <div class="col-sm-10">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non augue eget libero dictum faucibus. Integer at fermentum velit, nec tristique nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed iaculis, urna vel auctor pellentesque, eros enim rhoncus leo, vel posuere magna nunc vel mi. Praesent euismod urna sed semper suscipit. Sed et faucibus sapien. Duis ut dui id odio imperdiet dignissim sed eu nulla. Aliquam ut gravida dolor.</p>
                <div class="form-check mt-5">
                  <input class="form-check-input" type="checkbox" value="" class="correctAnswer">
                  <label class="form-check-label">
                    Correct
                  </label>
                </div>
              </div>

            </div>
            <div class="row mt-4">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div>

            </div>
            <div class="col-sm-12">
              <hr>
              <form>
                <div class="form-group md_5">
                  <label for="comment">Leave a comment:</label>
                  <textarea class="form-control" id="comment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary"  style="margin-top: 20px; margin-bottom: 20px;">Answer</button>
              </form>
            </div>

        </div>
      <div class = "col-3">
        <div class = "row">
          <h3>Top tags:</h3>
          <p><a href = "../tag/cat.html">Cats</a>, <a href = "../tag/black_jack.html">Black_jack</a>, <a href = "../tag/ML.html">ML</a>, <a href = "../tag/Web.html">Web</a>, <a href = "../tag/dogs.html">Dogs</a>, <a href = "../tag/Health.html">Health</a>, <a href = "../tag/Game.html">Game</a></p>
        </div>
        <div class = "row">
          <h3>Top users:</h3>
          <span><a href="#">Bincom</a></span>
          <span><a href="#">Trumaru</a></span>
          <span><a href="#">Bot</a></span>
          <span><a href="#">Kent</a></span>
          <span><a href="#">Leha95</a></span>
          <span><a href="#">Criper2009</a></span>
          <span><a href="#">AlekseyZaitsev</a></span>
          <span><a href="#">yourfriend</a></span>
        </div>
      </div>
    </div>

  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>


    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


  </body>
</html>
