<!doctype html>
<html lang="en" class="h-100">
{% block head %}
  <head>
    <meta charset="utf-8">
    <title>AskMe</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../static/css/my.css" rel="stylesheet">

  </head>
{% endblock %}
  <body class="d-flex flex-column h-100">

<header>
  <!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">AskME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="d-flex mx-auto" role="search" class="search_buttons">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success"><a href="{% url 'ask' %}" style="text-decoration: none; color: green;">Ask</a></button>
        </form>
{% if user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mt-1">
            <a class="nav-link" href="{% url 'settings' %}">Мой аккаунт</a>
        </li>
        <li class="nav-item mt-1">
            <form action="{% url 'logout' %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn nav-link">Выйти</button>
            </form>
        </li>
        <li class="nav-item mx-2">
                <a class="nav-link" href="{% url 'settings' %}">
                    <img src="{{ user.profile.avatar.url }}" class="rounded-circle" alt="Аватар пользователя" style="width: 37px; height: 37px;">
                </a>
        </li>
    </ul>
        {% else %}
          <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Вход</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">Регистрация</a>
            </li>
          </ul>
        {% endif %}
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <div class = "row mt-5">
      <div class = "col-9">
        {% block main %}

        {% endblock %}
      </div>
      <div class = "col-3">
        <div class = "row">
          <h3>Top tags:</h3>
            <p>
                {% for tag in tags %}
                    <a href="{% url 'tag' tag_name=tag.name %}">{{ tag.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
        <div class = "row">
          <h3>Top users:</h3>
          <span><a href="#">Bincom</a></span>
          <span><a href="#">Trumaru</a></span>
          <span><a href="#">Bot</a></span>
          <span><a href="#">Kent</a></span>
          <span><a href="#">Leha95</a></span>
          <span><a href="#">Criper2009</a></span>
          <span><a href="#">AlekseyZaitsev</a></span>
          <span><a href="#">yourfriend</a></span>
        </div>
      </div>
    </div>

  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>


    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


  </body>
</html>
