{% extends 'base.html' %}

{% block main %}
  <h1>New questions</h1>
  {% for question in questions %}
    <div class = "question">
      <div class = "row">
            <div class="col-2">
              <div class = "question_avatar">
                <img src="{{ question.avatar }}" alt="avatar">
              </div>
              <div class = "likes">
                <div class="btn-group btn-group-sm " role="group" aria-label="...">
                  <div class="likes_values mx_auto">{{ question.rating }}</div>
                </div>
              </div>
            </div>
            <div class="col-9">
              <h2><a href = "{% url 'question' question.id %}">{{ question.title }}</a></h2>
              <div><p>{{ question.text }}</p></div>
              <div class = "row" style="margin-top: 13%;">
                <div class ="col-4"><p>Answers ({{ question.answers }})</p></div>

                <div class = "col-8">Tags:
                  {% for tag in question.tags %}
                    <a href="{% url 'tag' tag_name=tag.name %}">{{ tag.name }}{% if not forloop.last %},{% endif %}</a>
                    <a> </a>
                  {% endfor %}
                </div>

              </div>
            </div>
          </div>
    </div>
  {% endfor %}

  {% include 'paginator.html' %}
{% endblock %}




