<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>AskMe</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../static/css/my.css" rel="stylesheet">
  </head>

  <body class="d-flex flex-column h-100">

<header>
  <!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">AskME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="d-flex mx-auto" role="search" class="search_buttons">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit"><a href="ask.html" style="text-decoration: none; color: green;">Ask</a></button>
        </form>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Вход</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="registration.html">Регистрация</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <div class = "row mt-5">
      <div class = "col-9">
        <div class="container">
            <h1>Авторизация</h1>
            <form>
              <div class="form-group">
                <label for="login">Логин</label>
                <input type="text" class="form-control" id="login" placeholder="Введите логин">
              </div>
              <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" placeholder="Введите пароль">
                <small class="form-text text-danger">Неправильный пароль</small>
              </div>
              <button type="submit" class="btn btn-primary">Log in</button>
              <p class="mt-3">У вас нет аккаунта? <a href="#">Создать новый аккаунт</a></p>
            </form>
        </div>
      </div>
      <div class = "col-3">
        <div class = "row">
          <h3>Top tags:</h3>
          <p><a href = "tag/cat.html">Cats</a>, <a href = "tag/black_jack.html">Black_jack</a>, <a href = "tag/ML.html">ML</a>, <a href = "tag/Web.html">Web</a>, <a href = "tag/dogs.html">Dogs</a>, <a href = "tag/Health.html">Health</a>, <a href = "tag/Game.html">Game</a></p>
        <div class = "row">
          <h3>Top users:</h3>
          <span><a href="#">Bincom</a></span>
          <span><a href="#">Trumaru</a></span>
          <span><a href="#">Bot</a></span>
          <span><a href="#">Kent</a></span>
          <span><a href="#">Leha95</a></span>
          <span><a href="#">Criper2009</a></span>
          <span><a href="#">AlekseyZaitsev</a></span>
          <span><a href="#">yourfriend</a></span>
        </div>
      </div>
    </div>

  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>


    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


  </body>
</html>
