<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>AskMe</title>
    <link href="../../static/css/bootstrap.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../../static/css/my.css" rel="stylesheet">
  </head>

  <body class="d-flex flex-column h-100">

<header>
  <!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">AskME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="d-flex mx-auto" role="search" class="search_buttons">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success"><a href="../ask.html" style="text-decoration: none; color: green;">Ask</a></button>
        </form>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item mt-1">
            <a class="nav-link" href="../settings.html">Мой аккаунт</a>
          </li>
          <li class="nav-item mt-1">
            <a class="nav-link" href="#">Выйти</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="../settings.html">
                <img src="https://via.placeholder.com/30x30" class="rounded-circle" alt="Аватар пользователя">
            </a>
          </li>
        </ul>
<!--          <ul class="navbar-nav ml-auto">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="../login.html">Вход</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="../registration.html">Регистрация</a>-->
<!--            </li>-->
<!--          </ul>-->
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">

    <div class = "row mt-5">
      <h1>Tag: dogs</h1>
      <div class = "col-9">
        <div class = "question">
          <div class = "row">
            <div class="col-2">
              <div class = "question_avatar">
                <img src="../../static/img/avatar2.png" alt="avatar">
              </div>
              <div class = "likes">
                <div class="btn-group btn-group-sm " role="group" aria-label="...">
                  <div class="likes_values mx_auto">10</div>
                  <button type="button" class="btn btn-default" style="color: green;">Up</button>
                  <button type="button" class="btn btn-default" style="color: red;">Down</button>
                </div>
              </div>
            </div>
            <div class="col-9">
              <h2><a href = "../question/question.html">Awesome question</a></h2>
              <div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electr...</p></div>
              <div class = "row">
                <div class ="col-4"><p>Answers (3)</p></div>
                <div class = "col-8">Tags: <a href="tag.html">Blac_jack</a>, <a href="tag.html">Black_jack</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class = "question">
          <div class = "row">
            <div class="col-2">
              <div class = "question_avatar">
                <img src="../../static/img/avatar6.png" alt="avatar">
              </div>
              <div class = "likes">
                <div class="btn-group btn-group-sm " role="group" aria-label="...">
                  <div class="likes_values mx_auto">10</div>
                  <button type="button" class="btn btn-default" style="color: green;">Up</button>
                  <button type="button" class="btn btn-default" style="color: red;">Down</button>
                </div>
              </div>
            </div>
            <div class="col-9">
              <h2><a href = "../question/question.html">Awesome question</a></h2>
              <div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electr...</p></div>
              <div class = "row">
                <div class ="col-4"><p>Answers (3)</p></div>
                <div class = "col-8">Tags: <a href="tag.html">Blac_jack</a>, <a href="tag.html">Black_jack</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class = "question">
          <div class = "row">
            <div class="col-2">
              <div class = "question_avatar">
                <img src="../../static/img/img_avatar.png" alt="avatar">
              </div>
              <div class = "likes">
                <div class="btn-group btn-group-sm " role="group" aria-label="...">
                  <div class="likes_values mx_auto">10</div>
                  <button type="button" class="btn btn-default" style="color: green;">Up</button>
                  <button type="button" class="btn btn-default" style="color: red;">Down</button>
                </div>
              </div>
            </div>
            <div class="col-9">
              <h2><a href = "../question/question.html">Awesome question</a></h2>
              <div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electr...</p></div>
              <div class = "row">
                <div class ="col-4"><p>Answers (3)</p></div>
                <div class = "col-8">Tags: <a href="tag.html">Blac_jack</a>, <a href="tag.html">Black_jack</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class = "question">
          <div class = "row">
            <div class="col-2">
              <div class = "question_avatar">
                <img src="../../static/img/img_avatar2.png" alt="avatar">
              </div>
              <div class = "likes">
                <div class="btn-group btn-group-sm " role="group" aria-label="...">
                  <div class="likes_values mx_auto">10</div>
                  <button type="button" class="btn btn-default" style="color: green;">Up</button>
                  <button type="button" class="btn btn-default" style="color: red;">Down</button>
                </div>
              </div>
            </div>
            <div class="col-9">
              <h2><a href = "../question/question.html">Awesome question</a></h2>
              <div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electr...</p></div>
              <div class = "row">
                <div class ="col-4"><p>Answers (3)</p></div>
                <div class = "col-8">Tags: <a href="tag.html">Blac_jack</a>, <a href="tag.html">Black_jack</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class = "question">
          <div class = "row">
            <div class="col-2">
              <div class = "question_avatar">
                <img src="../../static/img/avatar2.png" alt="avatar">
              </div>
              <div class = "likes">
                <div class="btn-group btn-group-sm " role="group" aria-label="...">
                  <div class="likes_values mx_auto">10</div>
                  <button type="button" class="btn btn-default" style="color: green;">Up</button>
                  <button type="button" class="btn btn-default" style="color: red;">Down</button>
                </div>
              </div>
            </div>
            <div class="col-9">
              <h2><a href = "../question/question.html">Awesome question</a></h2>
              <div><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electr...</p></div>
              <div class = "row">
                <div class ="col-4"><p>Answers (3)</p></div>
                <div class = "col-8">Tags: <a href="tag.html">Blac_jack</a>, <a href="tag.html">Black_jack</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
    </div>
      </div>
      <div class = "col-3">
        <div class = "row">
          <h3>Top tags:</h3>
          <p><a href = "cat.html">Cats</a>, <a href = "black_jack.html">Black_jack</a>, <a href = "ML.html">ML</a>, <a href = "Web.html">Web</a>, <a href = "dogs.html">Dogs</a>, <a href = "Health.html">Health</a>, <a href = "Game.html">Game</a></p>
        </div>
        <div class = "row">
          <h3>Top users:</h3>
          <span><a href="#">Bincom</a></span>
          <span><a href="#">Trumaru</a></span>
          <span><a href="#">Bot</a></span>
          <span><a href="#">Kent</a></span>
          <span><a href="#">Leha95</a></span>
          <span><a href="#">Criper2009</a></span>
          <span><a href="#">AlekseyZaitsev</a></span>
          <span><a href="#">yourfriend</a></span>
        </div>
      </div>
    </div>

  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>


    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


  </body>
</html>
